*{
    margin: 0;
    padding: 0;
}

/* Mobile */

@media  (max-width:480px)  {
    .grid-container {
        display: grid;
        grid-template-areas:
          'header'
          'main'
          'footer';
        grid-gap: 3px;
        background-color: smoke whitesmoke;
         
    }
    .grid-container > titulo {
        text-align: center;
        padding: 5px ;
        
    }
    .titulo {
        width:100%;
        background-color: lightpink;
        height: 38px; 
        font-family: 'Dancing Script', cursive;
        text-align: center;
        font-size: 20px;
        color: black;
}

.grid-container > h4, h3  {
    margin-top:5px;
    text-align:center;            
    font-family:'Montserrat', sans-serif;
    font-size: 12px;
    color: Black;
                              
    }
    
    .navflota {
        position: -webkit-sticky;
        position: sticky;
        width:310px;
        margin-left:40px;
        margin-right:40px;
        font-family: fangsong;
        font-size: 12px;
        background: lightgrey;
        padding: 3px;
        margin-bottom: 5px;
    }        

.app {
    position: relative;
    color: black;
    
 }
.sales {
    position: relative;
    left: 5px;
    color: black;
}

.online{
    position: relative;
    left: 5px;
    color: black;

}

.love {
    position: relative;
    left: 5px;
    color: black;
   
}
.cart {
    position: relative;
    left: 5px;
    color: black;
    right: 3px;

}
  
  .titulo1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightpink;
    height: 28px; 
    width:100%;
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 20px;
    

}

.grid-container > bride {
     text-align: center;
    border-radius:5px;
   }

.bride {
    
    background-color: whitesmoke;
    padding: 5px;
    margin: 5px;
}

.grid-container > ima {
    order: -1;
    align-self: center;

    
    }
    .ima{
        width:200px;
        height: 250px;
        padding-left:20%;
        margin-top:8px;
    }

.com {
    width: 240px;
    text-align: center;
    padding-left: 15%;
}
#lista{
    
    position: relative;
    display:inline-block;
    list-style-position: outside;
    list-style-type: square;
    left: 75px;
    
}


.grid-container > now{
    align-self: center;
    margin-top: 5px;
    
   
}
.now {
    background-color: lightgray;
    border-radius:7px;
    border-color: black;
    padding: 4px;
    margin-left:40%;
    margin-top: 3px;
    margin-bottom: 5px;

}

#tabla {
    position: relative;
    display:inline-block;
    font-family: "Helvetic";
    border-collapse: collapse;
    top:10px;
    margin-bottom: 20px;
    margin-left:15%;
    
  } 
  #tabla td, #tabla th {
    border: 1px solid black;
    padding: 8px;
    background-color: whitesmoke;
  }
    
  #tabla th {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    background-color: whitesmoke;
    color:black;
  }

  .pie{
    position:relative;
    width:80%;
    left: 30px;
    
    }

  
}

@media (min-width:481) and (max-width: 1024px){
      .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        border-radius: 2px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 2px;  
        grid-gap: 10px;
    }

    /*.grid-container {
          display: grid;
          grid-template-areas:
            'header header'
            'main main'
            'footer footer';
          grid-gap: 3px;
          background-color: smoke whitesmoke;
           
      }
      .grid-container > titulo {
            grid-column: 1 /-1;
            grid-row: 1 / 3;
            height: 200px;
            width:100%;
            text-align: center;
            padding: 5px ;
            height: 38px; */
          
      }
      .titulo {
                
          grid-column: 1 /-1;
          grid-row: 1 / 2;
          height: 45px;
          background-color: lightpink;
          height: 48px; 
          font-family: 'Dancing Script', cursive;
          text-align: center;
          font-size: 35px;
          color: black;
  }
  
  /*.grid-container > h2, h4, h3  {
      margin-top:5px;
      text-align:center;            
      font-family:'Montserrat', sans-serif;
      font-size: 12px;
      color: Black;
                                
      }*/

      .h3 {
            grid-column: 1 /-1;
            grid-row: 2 / 3;
            height: 30px;
            align-self: center;
            
            font-size: 35px;
            font-family: 'Monserrat';
            color: black;


      
      .navflota {

        grid-column: 1 /-1;
        grid-row: 3 / 4;
        height: 25px;
        position: sticky;
        width:400px;
        text-align: center;
        font-size: 20px;
        font-family: fangsong;
        background: lightgrey;
        padding: 3px;
        margin-bottom: 5px;
        color: black;

      }        
  
  .app {
      position: relative;
      color: black;
      
   }
  .sales {
      position: relative;
      left: 5px;
      color: black;
  }
  
  .online{
      position: relative;
      left: 5px;
      color: black;
  
  }
  
  .love {
      position: relative;
      left: 5px;
      color: black;
     
  }
  .cart {
      position: relative;
      left: 5px;
      color: black;
      right: 3px;
  
  }
    
    .titulo1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: lightpink;
      height: 28px; 
      width:100%;
      font-family: 'Dancing Script', cursive;
      color: black;
      font-size: 20px;
      
  
  }
  
  .grid-container > bride {
       text-align: center;
      border-radius:5px;
     }
  
  .bride {
      
      background-color: whitesmoke;
      padding: 5px;
      margin: 5px;
  }
  
  .grid-container > ima {
      order: -1;
      align-self: center;
     
      }
      .ima{
          width:200px;
          height: 250px;
          padding-left:20%;
          margin-top:8px;
      }
  
  .com {
      width: 240px;
      text-align: center;
      padding-left: 15%;
  }
  #lista{
      
      position: relative;
      display:inline-block;
      list-style-position: outside;
      list-style-type: square;
      left: 75px;
      
  }
  
  
  .grid-container > now{
      align-self: center;
      margin-top: 5px;
      
     
  }
  .now {
      background-color: lightgray;
      border-radius:7px;
      border-color: black;
      padding: 4px;
      margin-left:40%;
      margin-top: 3px;
      margin-bottom: 5px;
  
  }
  
      
  #tabla {
      position: relative;
      display:inline-block;
      font-family: "Helvetic";
      border-collapse: collapse;
      top:10px;
      margin-bottom: 20px;
      margin-left:15%;
      
    } 
    #tabla td, #tabla th {
      border: 1px solid black;
      padding: 8px;
      background-color: whitesmoke;
    }
      
    #tabla th {
      padding-top: 9px;
      padding-bottom: 9px;
      text-align: center;
      background-color: whitesmoke;
      color:black;
    }
  
    .pie{
      position:relative;
      width:80%;
      left: 30px;
      
      }
}
  
    
  
  
  
  











  /*     
 .titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: lightpink;
    height: 85px; 
    width:auto;
    margin:0px 25px 0px;
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
    color: black;
    z-index: 2;
    
   }
    
    #phone {
        position:absolute;
        top: 45px;    
        left: 750px;       
        font-family:'Montserrat', sans-serif;
        font-size: 30px;
        color: Black;
                                  
        }
    
    .navflota {
        position: -webkit-sticky;
        position: sticky;
        display:block;
        width:320px;
        float:right;
        margin-right:5px;
        font-family: fangsong;
        font-size: 15px;
        background: lightgrey;
        padding: 3px;
        z-index: 2;
    }
    
    
.app {
    position: relative;
    color: black;
    
 }
.sales {
    position: relative;
    left: 5px;
    color: black;
}

.online{
    position: relative;
    left: 5px;
    color: black;

}

.love {
    position: relative;
    left: 5px;
    color: black;
   
}
.cart {
    position: relative;
    left: 5px;
    color: black;
    right: 3px;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    margin:25px;
    grid-gap: 15px;
    font-family: 'Playfair Display', serif;
    font-size: medium;
    text-indent: 7px;
    text-align: center;
  }
  
  .titulo1 {
    display: flex;
    justify-content: center;
    background-color: lightpink;
    height: 30px; 
    width:100%;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: black;
    

}

.bride{
    display: flex;
    flex-flow: column;
    align-self:center;
    border-radius:5px;
   }

.bride > img{
    order: -1;
    align-self: center;
    width: 200px;
    height: 250px;
    }

#lista{
    
    position: relative;
    display:inline-block;
    list-style-position: outside;
    list-style-type: none;
    left: 75px;
    width:200px;
}

.now{
    width:max-content;
    align-self: center;
    margin-top: 5px;
    padding:2px;
    border-radius:10px;
    border-color: black;
}
    .divide {
    display: inline-block;
    position:relative;
    height:45px;
    width:300px;
    margin-left:60px;
    }
    #tabla {
    position: relative;
    display:inline-block;
    font-family: "Helvetic";
    border-collapse: collapse;
    top:15px;
    margin-bottom: 10px;
    
  } 
  #tabla td, #tabla th {
    border: 1px solid black;
    padding: 8px;
    background-color: whitesmoke;
  }
    
  #tabla th {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    background-color: whitesmoke;
    color:black;
  }

  .pie{
    position:relative;
    left: 300px;
    top: 15px;
    }

  
}
*/

/*
    #box2 {
        
        background-color: lightpink;
        border-radius: 5px;
        grid-column: 1 /-1;
        grid-row: 2 / 3;
        height: 40px;
         

    }
    #box3 {
    
        background-color: lightsteelblue;
        border-radius: 5px;
        grid-column: 1 /-1;
        grid-row: 3 / 5;
        height: 80px; 

    }
    #box4 {
        background-color: linen;
        border-radius: 5px;
        grid-column: 1 /-1;
        grid-row: 5 / 6;
        height: 40px;
        

    }

    #box5 {
        background-color: lightsalmon;
        border-radius: 5px;
        grid-column: 1 /-1;
        grid-row: 6 / 7;
        height: 40px;
       

    }
}

/* Tablet *//*
@media only screen and (min-width: 501px) and (max-width: 1024px) {

    #grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        border-radius: 2px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        grid-gap: 5px;
        margin: 2px;  
        text-indent: 7px;
        text-align: left;
        
        
    }
    
        
    #box1{
    
        background-color: lightcyan;
        border-radius: 5px;
        grid-column: 1 /-1;
        grid-row: 1 / 2;
        height: 40px; 
    
    }
    #box2 {
        
        background-color: lightpink;
        border-radius: 5px;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        height: 80px;
         

    }
    #box3 {
    
        background-color: lightsteelblue;
        border-radius: 5px;
        grid-column: 2 /-1;
        grid-row: 2 / 4;
        height: 80px; 

    }
    #box4 {
        background-color: linen;
        border-radius: 5px;
        grid-column: 1 /-1;
        grid-row: 4 / 5;
        height: 40px;
        

    }

    #box5 {
        background-color: lightsalmon;
        border-radius: 5px;
        grid-column: 1 /-1;
        grid-row: 5 / 6;
        height: 40px;
       

    }

}

/*
laptop
@media only screen and (min-width: 1024px) {

    #grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        border-radius: 2px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        grid-gap: 5px;
        margin: 2px;  
        text-indent: 7px;
        text-align: left;
        
        
    }
    
        
    #box1{
    
        background-color: lightcyan;
        border-radius: 5px;
        grid-column: 1 /-1;
        grid-row: 1 / 2;
        height: 40px; 
    
        

    }
    #box2 {
        
        background-color: lightpink;
        border-radius: 5px;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        height: 80px;
         

    }
    #box3 {
    
        background-color: lightsteelblue;
        border-radius: 5px;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        height: 80px; 

    }
    #box4 {
        background-color: linen;
        border-radius: 5px;
        grid-column: 4 /-1;
        grid-row: 2 / 4;
        height: 80px; 
        

    }

    #box5 {
        background-color: lightsalmon;
        border-radius: 5px;
        grid-column: 1 /-1;
        grid-row: 4 / 5;
        height: 40px;
       

    }

}


*/